{% extends "blog/base.html" %}
{% block content %}
    <h2>Historia Wersji dla: {{ post.title }}</h2>

    {% if versions %}
        <ul>
            {% for version in versions %}
                <li>
                    <h4>Wersja {{ version.version_number }} ({{ version.created_at }})</h4>
                    <p><strong>Autor:</strong> {{ version.author }}</p>
                    <a href="{% url 'version-comparison' post.pk version.pk %}" class="btn btn-primary">Zobacz Porównanie</a>
                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ten post nie ma jeszcze żadnych wersji.</p>
    {% endif %}

    <a href="{% url 'post-detail' post.pk %}" class="btn btn-secondary">Powrót do Postu</a>
{% endblock content %}