{% extends "blog/base.html" %}

{% block content %}
    <center>
    {% if searched %}
        <h1>Oto wyniki wyszukiwania dla "{{ searched }}": </h1>
        <br/>
        <h2>Wyniki wyszukiwania na podstawie tytułów:</h2>
        {% for post in posts_title %}
            <!-- Wyświetlamy wyniki wyszukiwania po tytule -->
            {% if post.visibility == True or post.author.username == user.username %}
                <a href="{% url 'post-detail' post.id %}">{{ post }}</a><br/>
            {% endif %}
        {% endfor %}

        <br/>
        <h2>Wyniki wyszukiwania po treści:</h2>
        {% for post in posts_content %}
            <!-- Wyświetlamy wyniki wyszukiwania po treści -->
            {% if post.visibility == True or post.author.username == user.username %}
                <a href="{% url 'post-detail' post.id %}">{{ post }}</a><br/>
            {% endif %}
        {% endfor %}

        <br/>
        <h2>Wyniki wyszukiwania po autorze:</h2>
        {% for author in authors %}
            <!-- Wyświetlamy wyniki wyszukiwania po autorze -->
            <p><a href="{% url 'user-posts' author.username %}">{{ author }}</a> - <a href="{% url 'user-posts' author.username %}">Zobacz wszystkie posty</a></p>
        {% endfor %}

        <br/>
    {% else %}
        <h1>Wyszukaj coś konkretnego...</h1>
    {% endif %}
    </center>
{% endblock %}