{% extends "blog/base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                {% if user_groups %}
                    <h2>Grupy do których należysz:</h2>
                    <ul class="list-group">
                        {% for group in user_groups %}
                            <li class="list-group-item"><a href="{% url 'group_detail' group.id %}">{{ group.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if owned_groups %}
                    <h2>Grupy, należące do ciebie:</h2>
                    <ul class="list-group">
                        {% for group in owned_groups %}
                            <li class="list-group-item"><a href="{% url 'group_detail' group.id %}">{{ group.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if not user_groups and not owned_groups %}
                    <p>Nie należysz do żadnej grupy ani nie jesteś ich właścicielem.</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Stwórz nową grupę</h5>
                        <a href="{% url 'create_group' %}" class="btn btn-primary btn-block">Stwórz grupę</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}